.title{
    font-family: stalinist;
    font-size: 47px;
    padding-top: 145px;
    padding-bottom: 130px;
}

.manufacturers{
    color: #fff;
    width: 1515px;
    margin: 0 auto;
}

.manufacturers-container{
    display: flex;
    flex-wrap: wrap;
    gap: 68px;
    justify-content: center;
}

.manufacturer-title{
    font-family: strong;
    font-size: 35px;
    text-align: center;
}

.img{
    margin-bottom: 35px;
}

.button{
    all: unset;
    cursor: pointer;
}

@media(max-width: 1560px) {

    .manufacturers{
      width: 100%;
    }
  }


@media(max-width: 1350px) {

    .manufacturers{
      width: 100%;
    }

    .title{
        text-align: center;
    }
  }