.favourite-container {
  max-width: 1687px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: clamp(17px, 5vw, 89px);
  margin-top: clamp(30px, 5vw, 124px);
  margin: 0 auto;
}

@media (max-width: 287px) {
  .favourite-container {
    justify-content: center;
  }
}
