.footer {
  font-family: strong;
  font-size: clamp(10px, 3vw, 35px);
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../../assets/images/header-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 52px 110px 52px 110px;

}

.wrapper {
  width: 1550px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.left-part {
  color: #c2c2c2;
  display: flex;
  gap: clamp(20px, 3vw, 180px);
}

.social-media-row {
  display: flex;
  gap: 25px;
  align-items: center;
}

.contact-social-media-container {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.logo {
  margin-bottom: 50px;
  width: clamp(50px, -0.551rem + 18.38vw, 300px);
  height: clamp(20px, 0.074rem + 5.88vw, 100px);
}
.vk-img  {
  width: clamp(10px, 2vw, 50px);
  height: clamp(10px, 0.074rem + 5.88vw, 50px);
}

.letter-img{
  width: clamp(10px, 2vw, 40px );
  height: clamp(10px, 0.074rem + 5.88vw, 40px);
}

.phone-img{
  width: clamp(10px, 2vw, 40px);
  height: clamp(10px, 0.074rem + 5.88vw, 40px);
}

.youtube-img{
  width: clamp(10px, 2vw, 50px);
  height: clamp(10px, 0.074rem + 5.88vw, 50px);
}
.contact-info-row {
  display: flex;
  gap: 11px;

  align-items: center;
}

.contact-info-conatiner {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media(max-width: 1720px){
  .wrapper {
    width: 100%;
  }
}


@media(max-width: 1350px) {
  .footer {
    padding: 15px 20px;
  }

  .nav{
    gap: 10px;
  }

  .logo{
    margin-bottom: 30px;
  }

  .description{
    gap: 10px;
  }

  .contact-info-conatiner{
    gap: 5px;
  }

  .wrapper{
    width: 100%;
  }
  .social-media-row{
    gap: 3px;
  }

}