.navigation {

    height: 140px;
    display: flex;
    justify-content: center;
    color: #ffff;
    font-family:"strong";
}

.ul {
    display: flex;
    align-items: center;
    gap: clamp(50px, 4vw,184px);
}

.li {
    font-size: clamp(15px, 4vw, 35px);
}