.page-body {
  /* background-color: #1f1f1f; */
  position: relative;
  overflow: hidden;
  max-width: 1680px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 462px);
}

.status-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
