.container {
  padding: clamp(10px, 3vw, 50px);
  border: 1px solid #ffffff;
  display: flex;
  justify-content: space-between;
  gap: clamp(30px, 5vw, 100px);
  align-items: center;
}

.image {
  width: clamp(54px, 20vw, 263px);
  height: clamp(44px, 20vw, 212px);
}

.description-container {
  display: flex;
  flex-direction: column;
}
.description-container h3 {
  font-size: clamp(10px, 3vw, 45px);
  color: white;
  font-family: strong;
  margin-bottom: 10px;
}
.description-container p {
  max-width: 337px;

  font-size: clamp(8px, 3vw, 30px);
  color: #777676;
  font-family: strong;
  margin-bottom: 10px;
  overflow-wrap: break-word;
}

.price {
  font-size: clamp(10px, 3vw, 50px);
  color: white;
  font-family: strong;
}
.count-container {
  display: flex;
  gap: clamp(7px, 2vw, 25px);
  align-items: center;
}
.count-block {
  width: clamp(32px, 6vw, 116px);
  height: clamp(12px, 6vw, 46px);
  border-radius: 10px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.count-block p {
  font-size: clamp(8px, 3vw, 30px);
  color: white;

  font-family: strong;
}

.count-container-symbol {
  all: unset;
  cursor: pointer;
  color: white;
  font-size: clamp(10px, 3vw, 50px);
  user-select: none;
  padding: 5px;
}
