.price {
  font-family: var(--strong);
  font-weight: 400;
  font-size: clamp(15px, -0.02rem + 3.89vw, 65px);

  color: #fff;
}
.cart-button {
  display: flex;
  align-items: center;
  gap: 2px;
  border-radius: 4px;
  border: 1px solid white;
  color: white;
  font-family: var(--strong);
  font-weight: 400;
  font-size: clamp(10px, -0.141rem + 3.11vw, 50px);
  padding: 23px 28px;

  color: #fff;
}

.cart-image,
.heart-image {
  width: clamp(10px, -0.045rem + 2.72vw, 46px);
  height: clamp(10px, -0.045rem + 2.72vw, 44px);
}
.buttons-container {
  display: flex;
  gap: clamp(10px, 0.434rem + 0.78vw, 20px);
  align-items: center;
}
.slider-img{
  display: flex;
  margin: 0 auto;
  width: clamp(12.5rem, 3.438rem + 45.31vw, 48.75rem);
  height: clamp(9.375rem, 0.781rem + 42.97vw, 43.75rem);
}
.swiper-container{
  width: 900px;
  margin-bottom: clamp(1.25rem, 6.25vw, 6.25rem);
}


@media (max-width: 1400px) {
  .swiper-container{
    width: 700px
  }
}


@media (max-width: 768px) {
  .swiper-container{
    width: 400px
  }
  .cart-button {
    padding: 4px 7px;
  }
}


@media (max-width: 450px) {
  .swiper-container{
    width: 200px
  }

}