.news-slider{

    position: relative;
}

.new-container{
    background: rgba(46, 45, 45, .5);
    height: 600px;
    max-width:800px ;
    margin-left: 120px;
    color: #fff;
}

.slider{
    display: flex;
    height: 903px;
}

.slider-element{
    padding-top: 130px;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

