.news {
    color: #fff;
    width: 1515px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.news-title {
    font-size: 67px;
    font-family: stalinist;
    margin-bottom: 136px;
    padding-top: 220px;
}

.news-container{
    display: flex;
    height: 500px;
    
    gap: 150px;
}

.new-containier{
    cursor: pointer;
    width:  400px;
}


.new-title{
    font-size: 35px;
    font-family: interRegular;
}

.new-subtitle{
    font-size: 35px;
    font-family: strong;
}

.main-img{
    margin-bottom: 32px;
}

.new-title{
    margin-bottom: 6px;
}

.new-info{
    word-break: break-all;
    display: flex;
    gap: 30px;
    align-items: center;
}

@media(max-width: 1560px) {

    .news{
      width: 100%;
    }
  }


@media(max-width: 1350px) {
    .news-container{
        flex-wrap: wrap;
        justify-content: center;
    }
    .news{
      width: 100%;
    }
    .news-title{
        text-align: center;
    }
  }